:root{
    --black: #333;
    --light: #cdaa7c;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', 'Kavoon';
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*navbar style start*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

header .logo img{
    width: 80px;
    height: auto;
}

header .navbar a{
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light);
    border-radius: 1rem solid transparent;
}

header .navbar a.active, 
header .navbar a:hover{
    color: #fff;
    border: .1rem solid rgba(205,170,124,0.2);
}

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light);
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}

header .icons i:hover{
    color: #fff;
    background: var(--light);
    transform: rotate(360deg);
    transition: 1.5s ease-in;
}

header .icons #menu-icon{
    display: none;
}
/*navbar ends here*/

/*slider style Start*/
#slider, .wrap{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

}
.slide-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    padding-left: 4rem;
    z-index: 3;
    font-size: 2rem;
}

.slide-content h1{
    color: #fff;
    font-size: 8rem;
}

.slide-content span{
    color: red;
}

.slide-content p{
    color: #e6e7e7;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 700;
}

.slide-content a{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: .1rem solid rgba(205,170,124,0.2);
    background: transparent;
    cursor: pointer;
    padding: .8rem 3rem;
    overflow: hidden;
    z-index: 4;
}

.slide-content a:hover{
    left: 0;
    background-color: var(--black);
    transition: 1s;
    color: var(--light);
}

.slide-content h3{
    color: var(--light);
    font-size: 5rem;
    font-weight: 300;
    padding-top: 20%;
}

.wrap{
    position: relative;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1{
    background-image: url(img/process.jpg);
}

.slide2{
    background-image: url(img/pasr.jpg);
}

.slide3{
    background-image: url(img/frank.jpg);
}

.slider-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left{
    border-width: 30px 40px 30px 0;
    left: 0;
    border-color: red;
    margin-left: 30px;
}

#arrow-right{
    border-width: 30px 0 30px 40px;
    right: 0;
    border-color: red;
    margin-right: 30px;
    margin-top: -3%;
}
/*slider style End*/

/*welcome style*/
section{
    padding: 8rem 9%;
}

.heading{
    text-align: center;
    color: #333;
    font-size: 4.5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.sub-heading{
    text-align: center;
    color: var(--light);
    font-size: 2.5rem;
    padding: .5rem 2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    background: var(--black);
    display: inline-block;
}

.welcome .box-container{
    display: flex;
    gap: 1.5rem;
}

.welcome .box-container .box{
    width: 33%;
    background: var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 1%;
}

.welcome .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.welcome .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.welcome .box-container .box .image:hover img{
    transform: scale(1.1);
}

.welcome .box-container .box .content{
    padding: 2rem;
    padding-top: 4rem;
}

.welcome .box-container .box .content h3{
    color: var(--light);
    font-size: 2.2rem;
    font-weight: 400;
}

.welcome .box-container .box .content p{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .5rem 0;
}

.welcome .box-container .box .content{
    padding: 2rem;
    padding-top: 2rem;
}

.welcome .box-container .box .content h3{
    color: var(--light);
    font-size: 2.2rem;
    font-weight: 400;
}

.welcome .box-container .box .content p{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .5rem 0;
    line-height: 1.5;
}
/*welcome style End*/


@media(max-width: 991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    header .logo img{
        height: 10rem;
    }
}

@media(max-width: 768px){
    /*navbar media query*/
    header .icons #menu-icon{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: .3s;
    }

    header .navbar.active{
        top: 70px;
    }


    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--black);
    }

    /*welcome session*/
    .welcome .box-container{
        flex-wrap: wrap;
    }

    .welcome .box-container .box{
        width: 100%;
    }
} 

@media(max-width: 480px){
    /*slider style*/
    #arrow-right{
        margin-top:-38px;
        color: #fff;
    }

    .slide-content{
        margin-top: 40px;
    }

    .slide-content h3{
        font-size: 5rem;
        font-weight: 300;
        margin-top: 20%;
        margin-left: -40px;
    }

    .slide-content h1{
        font-size: 35px;
        margin-left: -40px;
    }

    .slide-content p{
        text-align: center;
        justify-content: center;
        width: 80%;
        margin-left: 30px;
    }
    
    .slide-content a{
        margin-right: 10%;
    }
}